.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white
}

.footer__container {
    width: 100%;
    padding: 2rem 0 2rem;
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__copy {
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
}
