* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.footer__container {
    max-width: 100%;
    padding: 3rem 0rem 2rem 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 25%;
    padding: 0 15px;
}

.col-1 .title {
    font-size: var(--h3-font-size);
    color: black;
    text-transform: capitalize;
    margin-bottom: var(--mb-2);
    position: relative;
}

.col-1 .title::before {
    content: "";
    position: absolute;
    width: 4rem;
    box-sizing: border-box;
    height: 2px;
    background-color: rgb(26, 147, 26);
    bottom: -5px;
}

.col-1 ul li a {
    transition: all 0.3s ease;
}

.col-1 ul li a:hover {
    color: darkgreen;
    padding-left: 10px;
}

.social i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    background-color: rgb(24, 157, 68);
    margin: 0.5rem;
}

.social i:hover {
    background-color: rgb(26, 147, 26);
}

.footer__copy {
    margin-top: 2rem;
    display: block;
    text-align: center;
    font-size: var(--smaller-font-size);
}

@media screen  and (max-width: 1920px){
    .col-1 {
        font-size: var(--normal-font-size);
    }
    .footer__copy {
        font-size: var(--normal-font-size);
    }
}


@media screen and (max-width: 412px) {
    .col-1 .title {
        font-size: var(--large-font-size);
    }
}

