.content .title {
    font-size: var(--header-height);
}

.home__container {
    padding-top: 5.5rem;
}

.content {
    display: flex;
    gap: var(--mb-3);
    margin-left: var(--mb-2);
}

.home-image img {
    border-radius: 10px;
}

.home-image {
    padding: var(--mb-3);
}